*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //Here we are setting global fontsize of the website. This will be inherited everywhere.
  //font-size set for any element will be based on this.
  //If we increase or decrease this global font-size, it will affect the font-size set for any other element.
  //Default browser fontsize is 16px which is 1rem. Here we are setting it to 10px. i.e now 1rem = 10px
  //Setting global font-size in % is suggested.
  font-size: 62.5%; // 1rem = 10px; (10px/16px) * 100 = 62.5%;

  @include respond(tab-landscape) {
    font-size : 56.25%; // 1 rem = 9px; (9px/16px) * 100 = 50%;
  }

  @include respond(tab-potrait) {
    font-size : 50%; //1 rem = 8px; (8px/16px) * 100 = 50%;
  }

  @include respond(bigdesktop) {
    font-size : 75%; //1 rem = 12px; (12px/16px) * 100 = 75%;
  }

}

body {
  font-family: 'Lato', 'sans-serif';
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey;
  padding: 3rem;

  @include respond(tab-potrait) {
    padding : 0;
  }

}


::selection {
  background-color: $color-primary;
  color: $color-white;
  
}
